/*geral*/
body{
	font-family:"Open Sans";
	background-color:#f5f5f5;
}

section#topo h2{
	color: white;
	
}
.logo{
	width:200px;
	position: absolute	;
	top: -30px;
	left: -10px;
}
.menu-principal {
border-radius: 10px;
background-image: linear-gradient(to bottom,#1565c0, rgb(13,71,161));
text-shadow:0px 2px 0px black;
}
section#topo header nav div ul li a{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	padding-left: 30px;
}
section#topo header nav div ul li{border-left:  1px solid #0d47a1;	}
ul#mobile-menu li a{
	font-size: 20px;
	margin: 30px;
	font-weight: 300;
	text-transform: uppercase; 
}
ul#mobile-menu li a.btn{
	width: 150px;
	margin-left: 50px;
}
ul#mobile-menu li a.inicio,ul#mobile-menu li a.perfil{margin-left: 60px;}
ul#mobile-menu li a.agenda{margin-left: 50px;}
ul#mobile-menu li a.mapa{margin-left: 65px;}
#titulo{
	margin-left: 350px;
}
h1{
	margin-bottom: 0px;
	font-size: 90px;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
}
section#topo nav{
	background-color: rgba(13,71,161, 0.4);
	padding: 1em;
	height: 6.2em;	
}
section#topo{
	background-color: rgb(13,71,161);
	padding-bottom: 60px;
}
section#topo div.perfil input{margin-top:53px ;height: 155px;width: 180px;margin-left: 550px;}
.perfil{
	padding-left:550px;
	padding-top: 50px;}
.sub-P{
	color:#9e9e9e ;
}
#cadastrar{
	padding-left: 170px; 
	padding-top: 50px;
}
 #dados{
 	padding:15px;
 }
 #botaoCadastro{
 	padding-left: 380px;
 	 padding-top: 50px;
 	 padding-bottom: 50px}


.logo{
	width: 160px;
	position: absolute;
	top: -7px
}
#login{
	font-size: 20px;
	font-weight: 300;
	color:white  ;
	text-decoration: underline;
	padding-right: 50px;
}
footer.page-footer{
	background-color: rgb(13,71,161);
	

}
section label{
	font-size: 19px;
}


p{
	color: #e0e0e0;
}
legend{
	font-size: 25px;
	font-weight: 300;
	padding: 10px!important;
}
footer div.container{
		color: white;
}
#email_inline{
	width: 300px;

}
div#social{padding-top: 20px}
div#social ul li{
	
	width: 32px	;height: 	32px;
	margin-right:13px ;
	float: left;
}
.maisProLado{
	padding-left: 70px!important;

}
.tamanhoInput{padding-left:30px!important ;}
div#social ul li{
	
	width: 32px	;height: 	32px;
	margin-right:13px ;
	float: left;
}

div#social ul li a{
	background-image:url('../imagens/sprite-social.png');
	display: 	block;
	height: 	100%;
	text-indent: 	-99999em;
	
}
div#social ul li:nth-child(1) a{background-position:0 0}
div#social ul li:nth-child(2) a{background-position:-32px 0}
div#social ul li:nth-child(3) a{background-position:-64px 0}
div#social ul li:nth-child(4) a{background-position:-96px 0}
div#social ul li:nth-child(5) a{background-position: -128px 0}

div#social ul li:nth-child(1) a:hover{background-position:0  -32px}
div#social ul li:nth-child(2) a:hover{background-position:-32px -32px}
div#social ul li:nth-child(3) a:hover{background-position:-64px  -32px}
div#social ul li:nth-child(4) a:hover{background-position:-96px  -32px}
div#social ul li:nth-child(5) a:hover{background-position: -128px  -32px}
.link_final {
		color:white;
		font-weight: 800;
	
	}
	#modal-login{
	padding-left: 300px;
	color: black;
	font-weight: 300;
}
#modal-btnLogar{
	padding-left: 280px!important;
	padding-top: 10px;
}
#modalp{
	font-size: 19px;
}

#modal1{
	padding-top: 20px;
	padding-bottom: 20px;

}
div#modal2 h4{
		margin-left:50px;
		margin-bottom:50px; 
	} 
div#modal2 label{
	font-size:19px;
	margin-top:10px!important;
	margin-left:90px;
	color:white;
} 
div#modal2 input{
	width: 500px;
	margin-left: 30px;
	margin-top: 5px;
	margin-left:110px; 
}
div#modal2{	
	background-color:  rgb(13,71,161); color:white;
}


/*Media queris*/
@media screen and (max-width: 1024px) {
	#botaoCadastro{	padding-left: 300px;
 	 padding-top: 50px;	
 	 padding-bottom: 50px}
 	 #modal-btnLogar ,#modal-login{
    padding-left: 220px!important;}
    div#modal2 input{width: 350px}
}
@media screen and (max-width: 768px) {
	#botaoCadastro{	padding-left: 230px;
 	 padding-top: 50px;
 	 padding-bottom: 50px}
 	 #social{padding-left: 90px!important;}
 	 #modal-btnLogar ,#modal-login{
    padding-left: 220px!important;
}
@media screen and (max-width: 375px) {
	#botaoCadastro{padding-left: 100px;
 	 padding-top: 50px;
 	 padding-bottom: 50px}
	 #social{padding-left:20px!important;}
	 #modal-btnLogar ,#modal-login{
    padding-left: 95px!important;
}
	div#modal2 input,div#modal2 label{
		margin: 0px;
		width:250px;
	}
	div#modal2 h4{
		margin-left: 0px;
	}
}